.profile{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 1px 4px 0px rgba(0,0,0,.15);
  background-color: #fff;
  padding: 0 48px 0 48px;
  height: 100%;

  &__title {
    font-size: 24px;
    font-family: "Lato";
    color: rgb(29, 31, 36);
    line-height: 1.083;
    text-align: center;
    margin-bottom: 15px;
  }

  &__icon {
    position: relative;
    display: block;
    margin-top: -40%;
    margin-bottom: 15px;
  }
  &__pointsNum {
    font-size: 48px;
    font-family: "Oswald";
    color: #72c437;
    text-transform: uppercase;
    line-height: 1.2;
  }
  &__pointsTitle {
    font-size: 15px;
    font-family: "Lato";
    color: rgba(29, 31, 36, 0.4);
    text-transform: uppercase;
    line-height: 2.167;
    text-align: center;
    margin-bottom: 35px;
  }
  &__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 16px 0 16px 0;

    .item__icon {
      margin-right: 20px;
    }
    .item__title {
      font-size: 14px;
      font-family: "Oswald";
      color: rgb(64, 66, 72);
      text-transform: uppercase;
      line-height: 1.2;
    }
  }
  &__icon {}

}